@font-face {
	font-family: 'lucida';
	src:url('../fonts/lucida.ttf?w81bs6') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

html {
    font-size: .6em;
    font-family: Verdana, 'Helvetica Neue', Arial, sans-serif;
    color: var(--n-600);
    line-height: 1.1;
    min-height: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: var(--n-800);
}

a:hover {
	text-decoration: underline;
	color: var(--n-999);
}

hr { margin: 4px; }
hr.bar { border-style: solid }

i {
	cursor: pointer;
}

i.disabled {
	opacity: .4;
	cursor: default;
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.pointer {
	cursor: default;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

i.active, a.active {
	color: orange;
}

/* All of these styles want to be more specific than a normal class selector so the text colour wins */
body .wh, body .class-1, body .class-2, body .class-3 {
	color: var(--data-info);
}

body .class-4, body .class-5 {
	color: var(--data-loot-purple);
}

body .class-6 {
	color: var(--data-loot-pink);
}

body .class-12 {	/* Thera */
	color: var(--data-loot-gold);
}

body .class-15, body .class-16, body .class-17 {	/* Drifter */
	color: var(--data-loot-red);
}

body .drifter {
	color: var(--data-loot-red);
}

body .hisec, body .stable, body .frig {
	color: var(--data-good);
}

body .lowsec, body .destab {
	color: var(--data-loot-orange);
}

body .nullsec, body .critical {
	color: var(--data-critical);
}

body .triglavian { color: var(--data-triglavian); }

.blue-loot, .blue-loot .hisec { color: var(--data-loot-blue); }

.jumps {
	color: var(--chart-1);
}

.pods {
	color: var(--chart-2);
}

.ships {
	color: var(--chart-3);
}

.npcs {
	color: var(--chart-4);
}

.thermal-icon {
	content: url("../images/th.png");
	height: 16px;
}

.kinetic-icon {
	content: url("../images/kn.png");
	height: 16px;
}

.explosive-icon {
	content: url("../images/exp.png");
	height: 16px;
}

.em-icon {
	content: url("../images/em.png");
	height: 16px;
}

/* Scrollbar. Body properties are standards-compliant but only work in Firefox.
-webkit-* works in Chrome/Safari/etc */
/* We must tell Chrome not to use these or it will disable all the -webkit-scrollbar things - https://stackoverflow.com/questions/77893503 */
@supports not selector(::-webkit-scrollbar) {
	body {
		/* Standards - Firefox. Use slightly less contrasty colours because the bar will be wider */
		scrollbar-width: thin;
		scrollbar-color: var(--n-300) var(--n-050);
	}
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 2em;
    display: none;
    background-color: black;
}

::-webkit-scrollbar-track { background-color: var(--n-220); }
::-webkit-scrollbar-thumb {	background-color: var(--n-500);}
::-webkit-scrollbar-thumb:hover { background-color: var(--n-650);}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
/* ---------- */

::-webkit-input-placeholder {
   color: var(--n-600);
}

:-moz-placeholder { /* Firefox 18- */
   color: var(--n-600);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: var(--n-600);
}

:-ms-input-placeholder {
   color: var(--n-600);
}

@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.transition {
	/* -webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	transition: 0.3s all ease-out;
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out; */
}

.scale {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);

	overflow: hidden;
}

.blur {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

    filter: blur(1px);
    -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
